<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maker's BnB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <div class="container_content">
            <div class="container_content_inner">
                <div class="title">
                    <h1>Maker's BnB</h1>
                </div>
                <div class="par">
                    <p>Welcome to Maker's BnB!</p>
                </div>
                <div class="btns">
                    <button class="btns_more" onclick="window.location.href='{{ url_for('get_all_properties') }}'">View Listings</button>
                    {% if session['logged_in'] %}
                    <button class="btns_more" onclick="window.location.href='{{ url_for('logout') }}'">
                        {{ session['email'] }}
                    </button>
                    {% else %}
                    <button class="btns_more" onclick="window.location.href='{{ url_for('signup') }}'">
                        Sign Up
                    </button>
                    <button class="btns_more" onclick="window.location.href='{{ url_for('login') }}'">
                        Log In
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container_outer_img">
            <div class="img-inner">
                <img src="https://images.unsplash.com/photo-1511401139252-f158d3209c17?q=80&w=1635&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Beautiful living space" class="container_img" />
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</body>
</html>
