<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My bookings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>
    <a href="{{ url_for('get_all_properties') }}" class="back-arrow">
        <button class="sign-in">&larr; Back to listings</button>
    </a>
    <div class="header">
        <h1>My bookings</h1>
        <a href="{{ url_for('login') }}" class="sign-in">
            {% if session['logged_in'] %}
                {{ session['email'] }}
            {% else %}
                Sign In
            {% endif %}
        </a>
    </div>
    <div class="my-bookings">
        <!-- Iterate over properties and display each one -->
            <table border="1">
                <tr>
                    <th>Property Name</th>
                    <th>Requested By</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Confirmed</th>
                    <th>Total Price</th>
                </tr>
                {% for booking in my_requests %}
                <tr>
                    <td>{{ booking.property_name }}</td>
                    <td>{{ booking.requested_by }}</td>
                    <td>{{ booking.requested_from }}</td>
                    <td>{{ booking.requested_to }}</td>
                    <td>{{ booking.is_confirmed }}</td>
                    <td>{{ booking.total_price }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
</body>
</html>
