{% extends "base_with_sidebar.html" %}

{% block title %}My bookings{% endblock %}

{% block content %}
<a href="{{ url_for('get_all_properties') }}" class="back-arrow">
    <button class="sign-in">&larr; Back to listings</button>
</a>
<div class="header">
    <h1>My Bookings</h1>
    <a href="{{ url_for('login') }}" class="sign-in">
        {% if session['logged_in'] %}
            {{ session['email'] }}
        {% else %}
            Sign In
        {% endif %}
    </a>
</div>
<div class="my-bookings">
    <!-- Iterate over properties and display each one -->
        <table border="1">
            <tr>
                <th>
                    Booking Id
                </th>
                <th>
                    Property Id
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Confirmed
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Created
                </th>
            </tr>
            {% for booking in my_requests %}
            <tr>
                <td>
                    {{booking.id}}
                </td>
                <td>
                    {{booking.property_id}}
                </td>
                <td>
                    {{booking.requested_from}}
                </td>
                <td>{{booking.requested_to}}</td>
                <td>
                    {{booking.is_confirmed}}
                </td>
                <td>
                    {{booking.total_price}}
                </td>
                <td>
                    {{booking.created_at}}
                </td>
            </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}
