{% extends "base_with_sidebar.html" %}

{% block title %}New Property - MakersBNB{% endblock %}

{% block content %}
<a href="{{ url_for('get_all_properties') }}" class="back-arrow">
    <button class="sign-in">&larr; Back to listings</button>
</a>
<div class="property-form-container">
    <h1>New Property</h1>
    <form action="/properties/created" method="post">
        {% if errors %}
        <p class="t-errors">
            There were errors with your submission: {{ errors }}
        </p>
        {% endif %}
        <label for="name">Property Name</label>
        <input type="text" name="name" id="name" required>
        <label for="description">Property Description</label>
        <input type="text" name="description" id="description" required>
        <label for="price">Price</label>
        <input type="text" name="price" id="price" required>
        <label for="available_from">Available from</label>
        <input type="date" name="available_from" id="available_from" required>
        <label for="available_to">Available to</label>
        <input type="date" name="available_to" id="available_to" required>
        <input type="submit" value="Add Property">
    </form>
</div>
{% endblock %}
