<!DOCTYPE html>
<html>
<title>Create an account - MakersBNB</title>
<body>
<h1>Makers BNB </h1>

<h2>Register your account</h2>

<form action="/action_page.php">
  <label for ="name">Name:</label><br>
  <input type="text" id="name" name="name" value=""><br>
  <label for="uname">Email:</label><br>
  <input type="text" id="uname" name="uname" value=""><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass" value=""><br>
  <label for="confpass">Confirm Password:</label><br>
  <input type="text" id="confpass" name="pass" value=""><br><br>
  <input type="submit" value="Submit">
</form> 


<p>Already have an account? <a href="https:///">Sign in</a></p>


</body>
</html>