{% extends "base_with_sidebar.html" %}

{% block title %}Create an account - MakersBNB{% endblock %}

{% block content %}
<div class="register-container">
    <h1>Makers BNB</h1>
    <h2>Register your account</h2>
    <p class="error">{{ error }}</p>
    <form action="{{ url_for('signup')}}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="pass" required>
        </div>
        <div class="form-group">
            <label for="confpass">Confirm Password:</label>
            <input type="password" id="confpass" name="confpass" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="submit-button">
        </div>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
</div>
{% endblock %}
